<div class="property-cell" [style.gridColumn]="getGridPosition(index).col" [style.gridRow]="getGridPosition(index).row"
  [class.property-owned]="property.owner">
  <div class="property-name">{{ property.name }}</div>
  <div *ngIf="property.type === 'property'" class="property-price">₹{{ property.price }}</div>
  <ng-container *ngFor="let player of players">
    <div *ngIf="player.position === index" class="player-token" [style.backgroundColor]="getPlayerColor(player.id)">
    </div>
  </ng-container>
</div>
