.property-cell {
  border: 1px solid #dee2e6;
  background-color: white;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
