.player-marker {
  width: 16px;
  height: 16px;
  font-size: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: grey;
  font-weight: bold;
  animation: pulse 2s infinite;
}
