<div class="d-flex flex-row align-items-center bg-transparent position-relative property-container">
  @if (playersOnThisCell.length > 0) {
    <div class="d-flex m-1">
      @for (player of playersOnThisCell; track player.id) {
        <div class="player-marker rounded-circle" [ngStyle]="{'background-color': player.tokenColor.toLowerCase()}">
          {{player.name | tokenModel}}
        </div>
      }
    </div>
  }

  <div class="col-11 d-flex flex-column justify-content-center align-items-center">
    @if (owner) {
      <div class="ownership-ribbon" [ngStyle]="{'--owner-color': owner.tokenColor}">
        <span class="ribbon-text">{{owner.name}}</span>
      </div>
    }
    <div class="card-title text-center fw-bolder position-relative"
      [ngClass]="{'d-flex justify-self-center align-self-center': property().tier === 'Utility'}">
      {{ property().name }}
    </div>
    @if (property().price) {
      <div class="property-cell-price badge bg-light text-dark border border-1 border-dark rounded-pill">
        ₹ {{ property().price }}
      </div>
    }
    @if (owner) {
      <div class="property-houses" [ngStyle]="{'--owner-color': owner.tokenColor}">
        @for (house of getHouses(); track $index) {
          <div class="house"></div>
        }
      </div>
    }
  </div>
</div>
