<div class="justify-content-center mt-5">
  <div class="col-md-6 col-lg-4 mx-auto h-auto">
    <div class="card px-5">
      <div class="card-body">
        <p class="card-title h3 p-0 m-0 d-flex justify-content-center">Welcome to Monopoly</p>
        <span class="badge bg-info rounded-3 m-0 p-1 h3 d-flex justify-content-center">{{playerName}}</span>
        <p class="card-text d-flex justify-content-center h4">Please choose an option to start a game.</p>
        <div class="mb-3 d-flex justify-content-center">
          <button class="btn btn-sm btn-primary me-2" (click)="showCreateGame = true; showJoinGame = false">
            Create New Game <i class="bi bi-plus-lg ms-1"></i>
          </button>
          <button class="btn btn-sm btn-info" (click)="showJoinGame = true; showCreateGame = false">
            Join Game <i class="bi bi-people ms-1"></i>
          </button>
        </div>

        <div *ngIf="showCreateGame" class="mb-3">
          <label for="maxPlayers" class="form-label">Number of Players</label>
          <select class="form-select" id="maxPlayers" [(ngModel)]="maxPlayers">
            <option value="2">2 Players</option>
            <option value="3">3 Players</option>
            <option value="4">4 Players</option>
          </select>
          <button class="btn btn-success mt-2" (click)="createGame()">
            Create Game
          </button>
        </div>

        <div *ngIf="showJoinGame" class="mb-3">
          <label for="gameId" class="form-label">Game ID</label>
          <input type="text" class="form-control" id="gameId" [(ngModel)]="gameId" />
          <button class="btn btn-success mt-2" (click)="joinGame()">
            Join
          </button>
        </div>

        <div *ngIf="error" class="alert alert-danger mt-3">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>