<div class="card shadow">
  <div class="card-header bg-primary-subtle">
    <h5 class="card-title text-center mb-0">Game Details</h5>
  </div>
  <div class="card-body">
    @if (currentPlayer) {
      <p class="card-text"><strong>Current Player:</strong> {{ currentPlayer.name }}</p>
      <p class="card-text"><strong>Properties Owned:</strong></p>
      @if (currentPlayerProperties!.length > 0) {
        <div class="d-flex flex-wrap gap-2 mb-2">
          @for (item of currentPlayerProperties; track $index) {
            <span class="badge bg-success p-2">{{ item.property.name }}</span>
          }
        </div>
      } @else {
        <p class="badge bg-danger p-2">No properties owned</p>
      }
      <p class="card-text"><strong>Money:</strong> ₹{{ currentPlayer.money }}</p>
      <p class="card-text"><strong>Position:</strong> {{ currentPlayer.position }}</p>

      @if (currentProperty()) {
        <hr>
        <h6 class="card-subtitle mb-2">Current Property: {{ currentProperty()?.name }}</h6>
        @if (currentProperty()?.price) {
          <p class="card-text"><strong>Price:</strong> ₹{{ currentProperty()?.price }}</p>
        }

        <div class="d-flex justify-content-around mt-3">
          @if (canBuy()) {
            <button class="btn btn-success animate__animated animate__pulse" (click)="buyProperty()">
              Buy Property
            </button>
          }
          @if (canMortgage()) {
            <button class="btn btn-warning animate__animated animate__pulse" (click)="mortgageProperty()">
              Mortgage Property
            </button>
          }
        </div>
      }
    }
  </div>
</div>
