<div class="card shadow">
  <div class="card-header bg-primary-subtle">
    <h5 class="card-title text-center mb-0">Game Details</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Current Player: {{ gameState()?.currentPlayer?.name }}</p>
    <p class="card-text">Current Player properties:
      @if (currentPlayerProperties!.length > 0) {
      @for (item of gameState()?.currentPlayer?.properties; track $index) {
      <span class="badge bg-success p-1 h3 text-dark">{{ item.property.name }}</span>
      }
      } @else {
      <span class="badge bg-danger p-1 h3 text-dark">No properties owned</span>
      }
    </p>
    <p class="card-text">Current Player money: ₹{{ gameState()?.currentPlayer?.money }}</p>
    <p class="card-text">Current Player position: {{ gameState()?.currentPlayer?.position }}</p>

    <div class="d-flex justify-content-around mt-3">
      @if (canBuy()) {
      <button class="btn btn-success animate__animated animate__pulse" (click)="buyProperty()">
        Buy Property
      </button>
      }
      @if (canMortgage()) {
      <button class="btn btn-warning animate__animated animate__pulse" (click)="mortgageProperty()">
        Mortgage Property
      </button>
      }
    </div>
  </div>
</div>