<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="game-board">
        <div *ngFor="let property of properties; let i = index" class="property-cell"
          [style.gridColumn]="getGridPosition(i).col" [style.gridRow]="getGridPosition(i).row">
          <div class="property-name">{{ property.name }}</div>
          <div *ngIf="property.type === 'property'" class="property-price">₹{{ property.price }}</div>
          <ng-container *ngFor="let player of players">
            <div *ngIf="player.position === i" class="player-token" [style.backgroundColor]="player.color">
            </div>
          </ng-container>
        </div>
        <div class="center-area">
          Indian Monopoly
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="controls mt-3">
        <div *ngIf="!gameStarted">
          <h3>Select Players</h3>
          <select class="form-select mb-3" [(ngModel)]="playerCount">
            <option [value]="2">2 Players</option>
            <option [value]="3">3 Players</option>
            <option [value]="4">4 Players</option>
          </select>
          <button class="btn btn-primary" (click)="startGame()">
            Start Game
          </button>
        </div>
        <div *ngIf="gameStarted">
          <div *ngFor="let player of players" class="player-info" [class]="'player-' + getColorClass(player.color)"
            [class.active]="currentPlayer === player.id">
            <h4>{{ player.name }}</h4>
            <p>Money: ₹{{ player.money }}</p>
            <p>Properties: {{ player.properties.length }}</p>
          </div>
          <div class="dice" *ngIf="gameStarted">
            <button class="btn btn-lg btn-primary mb-2" (click)="rollDice()" [disabled]="rolling">
              {{ rolling ? 'Rolling...' : 'Roll Dice' }}
            </button>
            <div *ngIf="lastRoll" class="mt-2">
              You rolled: {{ lastRoll }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
