<div class="parent">
  @for (property of properties(); track $index) {
  <div (click)="onDetails(property.id)" class="card shadow hover div{{property.id}}" [ngClass]="[
  property.type === 'Property' ? 'proprty-card' : 'utillity-card',
  property.color === PropertyColors.Red ? 'bg-danger' : '',
  property.color === PropertyColors.Green ? 'bg-success' : '',
  property.color === PropertyColors.LightBlue ? 'bg-info' : '',
  property.color === PropertyColors.Yellow ? 'bg-warning' : ''
]">
    <app-property-cell [gameState]="gameState()" [property]="property"></app-property-cell>
  </div>
  }
  <div class="community-chest div37">
    <span class="community-chest-title-container bg-primary-subtle">
      <span class="fw-bold text-dark me-3">
        Chance
      </span>
      <i class="bi bi-question-lg ms-0 text-dark"></i>
    </span>
    <div class="container-fluid gap-2 d-flex justify-content-evenly mt-2">
      <p>Player Actions here</p>
    </div>
  </div>
  <div class="community-chest div38">
    <span class="community-chest-title-container bg-primary-subtle">
      <span class="fw-bold text-dark me-3">
        Player Details here
      </span>
      <i class="bi bi-box2 ms-0 text-dark"></i>
    </span>
    <div class="container-fluid gap-2 d-flex justify-content-evenly mt-2">
      @for (player of gameState()?.players; track $index) {
      <div class="card w-50" [ngClass]="{ 'shadow ': gameState()?.currentPlayer?.id === player.id }">
        <p class="card-title text-center bg-primary-subtle mb-0">{{player.name}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="fw-bold">Color : </span>
            {{player.tokenColor}}
          </li>
          <li class="list-group-item d-flex justify-content-start gap-2 align-items-center">
            <span class="fw-bold">Money :
              ₹ </span>
            <span class="badge bg-success-subtle text-dark">
              {{player.money}}
            </span>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Position : </span>
            {{player.position}}
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
  <div class="community-chest div39">
    <div class="community-chest-title-container bg-primary-subtle">
      <span class="fw-bold text-dark me-3">
        Game Details
      </span>
      <i class="bi bi-card-checklist ms-0 text-dark"></i>
    </div>
    <div class="mt-4">
      <app-dice [isRolling]="isRolling" [diceValues]="diceValues"></app-dice>
      <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-success" [disabled]="gameState()?.isCurrentPlayerAlreadyRolledTheDice"
          (click)="rollDice()">Roll dice</button>
        <button class="btn btn-danger" [disabled]="!gameState()?.isCurrentPlayerAlreadyRolledTheDice"
          (click)="endTurn()">End Turn</button>
        @if (showTimer()) {
        <button class="btn btn-danger"> {{timer()}}</button>
        }
      </div>
    </div>

  </div>
  <div class="div40 rounded-2 bg-primary-subtle d-flex justify-content-center align-items-center fs-2">
    <span class="fw-bold text-dark me-3">
      Now it's your turn {{gameState()?.currentPlayer?.name}}
    </span>
    <i class="bi bi-person-circle ms-0 text-dark"></i>
  </div>
</div>

<ng-container>
  <router-outlet></router-outlet>
</ng-container>