/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #FF9933;
  --secondary-color: #138808;
  --accent-color: #000080;
  --background-light: #ffffff;
  --text-light: #333333;
  --background-dark: #1a1a1a;
  --text-dark: #ffffff;
}


body.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

i:hover {
  -webkit-text-stroke: 1px;
  cursor: pointer;
}
button:hover {
  -webkit-text-stroke: 0.5px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-sm {
  height: 16px;
  width: 16px;
}

.icon-md {
  height: 24px;
  width: 24px;
}

.icon-lg {
  height: 32px;
  width: 32px;
}

//add global animations here

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
