<div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  @if (property()) {
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">{{property()?.name}}</h5>
    <button type="button" class="btn-close" (click)="navigateBack()" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>{{ property()?.name}}</p>
    <p>{{ property()?.mortgageValue}}</p>
    <p>{{ property()?.price}}</p>
    <p>{{ property()?.ownerName}}</p>
    <p>{{ property()?.tier}}</p>
    <p>{{ property()?.ownerId}}</p>
  </div>
  }
  @else {
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">No Property Selected</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  }
</div>
